<div th:fragment="base-product-properties" class="form-outline mb-4">
    <small class="form-label text-danger"
           th:if="${#fields.hasErrors('manufacturer')}"
           th:errors="*{manufacturer}"></small>
    <select
            th:field="*{manufacturer}"
            th:errorClass="bg-danger"
            class="form-control form-control-lg bg-transparent text-light">
        <option class="ui-menu-item bg-dark" value="">--SELECT MANUFACTURER--</option>
        <option class="ui-menu-item bg-dark"
                th:each="manufacturer : ${manufacturers}"
                th:text="${manufacturer.name()}"
                th:value="${manufacturer}">
        </option>
    </select>
    <label class="form-label text-light">Manufacturer</label>
</div>
<div class="form-outline mb-4">
    <small class="form-label text-danger"
           th:if="${#fields.hasErrors('model')}"
           th:errors="*{model}"></small>
    <input
            th:field="*{model}"
            th:errorClass="bg-danger"
            class="form-control form-control-lg bg-transparent text-light"
            required/>
    <label class="form-label text-light">Model</label>
</div>
<div class="form-outline mb-4">
    <small class="form-label text-danger"
           th:if="${#fields.hasErrors('price')}"
           th:errors="*{price}"></small>
    <input type="number"
           step="0.01"
           th:field="*{price}"
           th:errorClass="bg-danger"
           class="form-control form-control-lg bg-transparent text-light"
           required/>
    <label class="form-label text-light">Price</label>
</div>
<div class="form-outline mb-4">
    <small class="form-label text-danger"
           th:if="${#fields.hasErrors('description')}"
           th:errors="*{description}"></small>
    <textarea
            rows="4"
            id="description"
            th:field="*{description}"
            th:errorClass="bg-danger"
            class="form-control form-control-lg bg-transparent text-light"
            required></textarea>
    <label class="form-label text-light" for="description">Description</label>
</div>
<div class="form-outline mb-4">
    <small class="form-label text-danger"
           th:if="${#fields.hasErrors('image')}"
           th:errors="*{image}"></small>
    <input type="file"
           th:field="*{image}"
           th:errorClass="bg-danger"
           accept="image/png, image/jpeg"
           class="form-control form-control-lg bg-transparent text-light"/>
    <label class="form-label text-light">Image</label>
</div>