<!doctype html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body>
<header id="header">
    <div th:fragment="navbar" class="container-fluid">
        <nav class="navbar navbar-expand-xl navbar-dark">
            <div class="container fs-4">
                <a class="navbar-brand fs-4" th:href="@{/}"><i class="bi bi-laptop"></i>PcStore</a>
                <button class="navbar-toggler" type="button " data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
                    <ul class="navbar-nav text-center">
                        <li class="nav-item dropdown mx-3">
                            <a class="nav-link dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                Categories
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Cases</a></li>
                                <li><a class="dropdown-item" href="#">Motherboards</a></li>
                                <li><a class="dropdown-item" href="#">CPU</a></li>
                                <li><a class="dropdown-item" href="#">Coolers</a></li>
                            </ul>
                        </li>
                        <li class="nav-item  mx-3">
                            <a class="nav-link active" href="#">Contact us</a>
                        </li>
                        <li class="nav-item  mx-3">
                            <a class="nav-link active" href="#">About us</a>
                        </li>
                        <li class="nav-item dropdown mx-3" sec:authorize="!isAuthenticated()">
                            <a class="nav-link dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                Admin
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" th:href="@{/admin/add-product}">Add New Product</a></li>
                                <li><a class="dropdown-item" href="#">Restock products</a></li>
                                <li><a class="dropdown-item" href="#">Menage roles</a></li>
                            </ul>
                        </li>

                        <li class="nav-item  mx-3">
                            <a class="nav-link active" sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>
                        </li>
                        <li class="nav-item  mx-3">
                            <a class="nav-link active" sec:authorize="!isAuthenticated()" th:href="@{/register}">Register</a>
                        </li>
                        <li class="nav-item mx-3" sec:authorize="isAuthenticated()">
                            <form th:method="post"
                                  th:action="@{/logout}">
                                <input type="submit" class="btn" value="Logout" id="logout"/>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <form class="d-flex mx-auto pb-3">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
    </div>
</header>
</body>
</html>