<!doctype html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body>
<header id="header">
    <div th:fragment="navbar" class="container-fluid w-100">
        <nav class="navbar navbar-expand-xl navbar-dark">
            <div class="container fs-4">
                <a class="navbar-brand pb-4 fs-4" th:href="@{/}"><i class="bi bi-laptop"></i>PcStore</a>
                <button class="navbar-toggler" type="button " data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
                    <ul class="navbar-nav text-center">
                        <li class="nav-item dropdown mx-3">
                            <a class="nav-link dropdown-toggle"
                               role="button" id="dropdownMenuLink"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Products
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item fs-5 fw-bolder" th:href="@{/products/search/{product}(product = all)}">All products</a></li>
                                <li><a class="dropdown-item" th:href="@{/products/search/{product}(product = case)}">Cases</a></li>
                                <li><a class="dropdown-item" th:href="@{/products/search/{product}(product = motherboard)}">Motherboards</a></li>
                                <li><a class="dropdown-item" th:href="@{/products/search/{product}(product = cpu)}">CPU</a></li>
                                <li><a class="dropdown-item" th:href="@{/products/search/{product}(product = cooler)}">Coolers</a></li>
                                <li><a class="dropdown-item" th:href="@{/products/search/{product}(product = graphic_card)}">Graphic cards</a></li>
                                <li><a class="dropdown-item" th:href="@{/products/search/{product}(product = ram)}">RAM</a></li>
                                <li><a class="dropdown-item" th:href="@{/products/search/{product}(product = fan)}">Fans</a></li>
                                <li><a class="dropdown-item" th:href="@{/products/search/{product}(product = power_supply)}">Power supplies</a></li>
                                <li><a class="dropdown-item" th:href="@{/products/search/{product}(product = hdd)}">HDD</a></li>
                                <li><a class="dropdown-item" th:href="@{/products/search/{product}(product = ssd)}">SSD</a></li>
                                <li><a class="dropdown-item" th:href="@{/products/search/{product}(product = mouse)}">Mice</a></li>
                                <li><a class="dropdown-item" th:href="@{/products/search/{product}(product = keyboard)}">Keyboards</a></li>
                            </ul>
                        </li>
                        <li class="nav-item  mx-3">
                            <a class="nav-link active" th:href="@{/contact-us}">Contact us</a>
                        </li>
                        <li class="nav-item dropdown mx-3" sec:authorize="hasRole('ROLE_ADMIN')">
                            <a class="nav-link dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                Admin
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" th:href="@{/admin/add-products}">Add New Product</a></li>
                                <li><a class="dropdown-item" th:href="@{/admin/menage-products}">Menage products</a></li>
                                <li><a class="dropdown-item" th:href="@{/admin/menage-users}">Menage roles</a></li>
                            </ul>
                        </li>

                        <li class="nav-item  mx-3">
                            <a class="nav-link active" sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>
                        </li>
                        <li class="nav-item  mx-3">
                            <a class="nav-link active" sec:authorize="!isAuthenticated()" th:href="@{/register}">Register</a>
                        </li>
                        <li class="nav-item  mx-3" sec:authorize="isAuthenticated()">
                            <p class="nav-link disabled "> Hello, <span sec:authentication="name"></span></p>
                        </li>
                        <li class="nav-item mx-3" sec:authorize="isAuthenticated()">
                            <form th:method="post"
                                  th:action="@{/logout}">
                                <input type="submit" class="btn" value="Logout" id="logout"/>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <form class="d-flex mx-auto pb-3 w-75" th:action="@{/products/search-product}">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                   th:value="${keyword}" id="keyword" name="keyword">
            <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
    </div>
</header>
</body>
</html>