<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}">
</head>

<body>

<div>
    <nav th:replace="~{fragments/navbar}"></nav>
</div>

<div class="container-fluid">
    <h1 class="display-1 text-center text-light">403</h1>
    <h5 class="text-center text-white mt-5">Upps, the thingy that you are looking for is too powerfull for your pc !</h5>
    <h5 class="text-center text-white mt-5">We are veeeery sorry.</h5>

    <a th:href="@{/}">Go home...</a>
</div>

<div>
    <footer> </footer>
</div>

</body>
</html>