<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}">
</head>

<body>

<div>
    <nav th:replace="~{fragments/navbar}"></nav>
</div>

<div class="container-fluid mt-5 text-center">
    <h1 class="display-1 text-center text-light">500</h1>
    <h5 class="text-center text-white mt-5">A problem occurred !</h5>
    <h5 class="text-center text-white mt-5">We are very sorry. Our team is working really hard to resolve it !</h5>

    <a class="mt-5 text-center align-self-center btn text-light fs-2 borderGlow" th:href="@{/}">Go home...</a>
</div>

<div>
    <footer></footer>
</div>

</body>
</html>