<!doctype html>
<html lang="en">
<head th:replace="~{/fragments/head}"></head>
<body>
<header th:replace="~{fragments/navbar}"></header>

<div class="col-12 text-center mb-5">
    <div class="ui-menu-item-wrapper bg-dark align-self-center mt-3 fs-4">
        <p th:if="${badCredentials}" class="errors alert alert-danger text-center">
            Ooops, something went wrong! Try again!
        </p>
        <select class="ui-menu-item text-light text-center px-2 py-2 bg-transparent borderGlow"
                id="type">
            <option class="ui-menu-item bg-dark" value="">--SELECT PRODUCT TO ADD--</option>
            <option class="ui-menu-item bg-dark"
                    th:each="type : ${productTypes}"
                    th:text="${type.name}"
                    th:value="${type}">
            </option>
        </select>
    </div>
</div>
<!-- TODO Fix this forms-->
<section class="vh-100 data" id="CASE">
    <div class="d-flex align-items-center h-100">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card bg-transparent registerGlow">
                        <div class="card-body p-5">
                            <form th:action="@{/admin/add-product}"
                                  th:method="POST"
                                  th:object="${newProductDTO}">
                                <input class="bg-transparent form-control border-0 form-control-lg text-uppercase text-center text-light mb-5 disabled fs-3"
                                       th:value="CASE"
                                       th:text="CASE"
                                       th:name="typeProduct"
                                       readonly/>
                                <div class="form-outline mb-4">
                                    <small class="form-label text-danger"
                                           th:if="${#fields.hasErrors('manufacturer')}"
                                           th:errors="*{manufacturer}"></small>
                                    <select
                                            th:field="*{manufacturer}"
                                            th:errorClass="bg-danger"
                                            class="form-control form-control-lg bg-transparent text-light">
                                        <option class="ui-menu-item bg-dark" value="">--SELECT MANUFACTURER--</option>
                                        <option class="ui-menu-item bg-dark"
                                                th:each="manufacturer : ${manufacturers}"
                                                th:text="${manufacturer.name()}"
                                                th:value="${manufacturer}">
                                        </option>
                                    </select>
                                    <label class="form-label text-light">Manufacturer</label>
                                </div>
                                <div class="form-outline mb-4">
                                    <small class="form-label text-danger"
                                           th:if="${#fields.hasErrors('model')}"
                                           th:errors="*{model}"></small>
                                    <input
                                            th:field="*{model}"
                                            th:errorClass="bg-danger"
                                            class="form-control form-control-lg bg-transparent text-light"
                                            required
                                    />
                                    <label class="form-label text-light">Model</label>
                                </div>
                                <div class="form-outline mb-4">
                                    <small class="form-label text-danger"
                                           th:if="${#fields.hasErrors('price')}"
                                           th:errors="*{price}"></small>
                                    <input type="number"
                                           min="0"
                                           value="0"
                                           th:field="*{price}"
                                           th:errorClass="bg-danger"
                                           class="form-control form-control-lg bg-transparent text-light"
                                           required/>
                                    <label class="form-label text-light">Price</label>
                                </div>
                                <div class="form-outline mb-4">
                                    <small class="form-label text-danger"
                                           th:if="${#fields.hasErrors('description')}"
                                           th:errors="*{description}"></small>
                                    <textarea
                                            rows="4"
                                            id="description"
                                            th:field="*{description}"
                                            th:errorClass="bg-danger"
                                            class="form-control form-control-lg bg-transparent text-light"
                                            required></textarea>
                                    <label class="form-label text-light" for="description">Description</label>
                                </div>
                                <h1 class="bg-transparent form-control border-0 form-control-lg text-uppercase text-center text-light mb-5 disabled fs-3">
                                    Specifications</h1>
                                <div class="form-outline mb-4">
                                    <small class="form-label text-danger"
                                           th:if="${#fields.hasErrors('caseType')}"
                                           th:errors="*{caseType}"></small>
                                    <select th:field="*{caseType}"
                                            th:errorClass="bg-danger"
                                            class="form-control form-control-lg bg-transparent text-light">
                                        <option class="ui-menu-item bg-dark" value="">--SELECT CASE TYPE--</option>
                                        <option class="ui-menu-item bg-dark text-uppercase"
                                                th:each="case : ${caseTypes}"
                                                th:text="${case.getName()}"
                                                th:value="${case.name()}">
                                        </option>
                                    </select>
                                    <label class="form-label text-light">Case Type</label>
                                </div>
                                <div class="form-outline mb-4">
                                    <small class="form-label text-danger"
                                           th:if="${#fields.hasErrors('format')}"
                                           th:errors="*{format}"></small>
                                    <select th:field="*{format}"
                                            th:errorClass="bg-danger"
                                            class="form-control form-control-lg bg-transparent text-light">
                                        <option class="ui-menu-item bg-dark" value="">--SELECT FORMAT--</option>
                                        <option class="ui-menu-item bg-dark"
                                                th:each="format : ${caseFormats}"
                                                th:text="${format.getName()}"
                                                th:value="${format.name()}">
                                        </option>
                                    </select>
                                    <label class="form-label text-light" for="format">Format</label>
                                </div>
                                <div class="form-outline mb-4">
                                    <small class="form-label text-danger"
                                           th:if="${#fields.hasErrors('fans')}"
                                           th:errors="*{fans}"></small>
                                    <input type="number"
                                           min="0"
                                           th:field="*{fans}"
                                           th:errorClass="bg-danger"
                                           value="0"

                                           class="form-control form-control-lg bg-transparent text-light"/>
                                    <label class="form-label text-light" for="fans">Fans</label>
                                </div>
                                <div class="form-outline mb-4">
                                    <small class="form-label text-danger"
                                           th:if="${#fields.hasErrors('weight')}"
                                           th:errors="*{weight}"></small>
                                    <input type="number"
                                           min="0"
                                           value="0"
                                           th:field="*{weight}"
                                           th:errorClass="bg-danger"
                                           class="form-control form-control-lg bg-transparent text-light"/>
                                    <label class="form-label text-light">Weight</label>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <input type="submit"
                                           class="btn btn-block btn-lg text-light registerGlowButton loginBtn"
                                           value="ADD"/>
                                </div>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="vh-100 data" id="MOTHERBOARD">
    <div class="d-flex align-items-center h-100">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card bg-transparent registerGlow">
                        <div class="card-body p-5">
                            <form th:action="@{/admin/add-product}"
                                  th:method="POST"
                                  th:object="${newProductDTO}">
                                <input class="bg-transparent form-control border-0 form-control-lg text-uppercase text-center text-light mb-5 disabled fs-3"
                                       th:value="MOTHERBOARD"
                                       th:text="MOTHERBOARD"
                                       th:name="typeProduct"
                                       readonly/>
                                <div class="form-outline mb-4">
                                    <small class="form-label text-danger"
                                           th:if="${#fields.hasErrors('manufacturer')}"
                                           th:errors="*{manufacturer}"></small>
                                    <select
                                            th:field="*{manufacturer}"
                                            th:errorClass="bg-danger"
                                            class="form-control form-control-lg bg-transparent text-light">
                                        <option class="ui-menu-item bg-dark" value="">--SELECT MANUFACTURER--</option>
                                        <option class="ui-menu-item bg-dark"
                                                th:each="manufacturer : ${manufacturers}"
                                                th:text="${manufacturer.name()}"
                                                th:value="${manufacturer}">
                                        </option>
                                    </select>
                                    <label class="form-label text-light">Manufacturer</label>
                                </div>
                                <div class="form-outline mb-4">
                                    <small class="form-label text-danger"
                                           th:if="${#fields.hasErrors('model')}"
                                           th:errors="*{model}"></small>
                                    <input
                                            th:field="*{model}"
                                            th:errorClass="bg-danger"
                                            class="form-control form-control-lg bg-transparent text-light"
                                            required
                                    />
                                    <label class="form-label text-light">Model</label>
                                </div>
                                <div class="form-outline mb-4">
                                    <small class="form-label text-danger"
                                           th:if="${#fields.hasErrors('price')}"
                                           th:errors="*{price}"></small>
                                    <input type="number"
                                           min="0"
                                           value="0"
                                           th:field="*{price}"
                                           th:errorClass="bg-danger"
                                           class="form-control form-control-lg bg-transparent text-light"
                                           required/>
                                    <label class="form-label text-light">Price</label>
                                </div>
                                <div class="form-outline mb-4">
                                    <small class="form-label text-danger"
                                           th:if="${#fields.hasErrors('description')}"
                                           th:errors="*{description}"></small>
                                    <textarea
                                            rows="4"
                                            th:field="*{description}"
                                            th:errorClass="bg-danger"
                                            class="form-control form-control-lg bg-transparent text-light"
                                            required></textarea>
                                    <label class="form-label text-light" for="description">Description</label>
                                </div>
                                <h1 class="bg-transparent form-control border-0 form-control-lg text-uppercase text-center text-light mb-5 disabled fs-3">
                                    Specifications</h1>
                                <div class="form-outline mb-4">
                                    <small class="form-label text-danger"
                                           th:if="${#fields.hasErrors('caseType')}"
                                           th:errors="*{caseType}"></small>
                                    <select th:field="*{caseType}"
                                            th:errorClass="bg-danger"
                                            class="form-control form-control-lg bg-transparent text-light">
                                        <option class="ui-menu-item bg-dark" value="">--SELECT CASE TYPE--</option>
                                        <option class="ui-menu-item bg-dark text-uppercase"
                                                th:each="case : ${caseTypes}"
                                                th:text="${case.getName()}"
                                                th:value="${case.name()}">
                                        </option>
                                    </select>
                                    <label class="form-label text-light">Case Type</label>
                                </div>
                                <div class="form-outline mb-4">
                                    <small class="form-label text-danger"
                                           th:if="${#fields.hasErrors('format')}"
                                           th:errors="*{format}"></small>
                                    <select id="format"
                                            th:field="*{format}"
                                            th:errorClass="bg-danger"
                                            class="form-control form-control-lg bg-transparent text-light">
                                        <option class="ui-menu-item bg-dark" value="">--SELECT FORMAT--</option>
                                        <option class="ui-menu-item bg-dark"
                                                th:each="format : ${caseFormats}"
                                                th:text="${format.getName()}"
                                                th:value="${format.name()}">
                                        </option>
                                    </select>
                                    <label class="form-label text-light" for="format">Format</label>
                                </div>
                                <div class="form-outline mb-4">
                                    <small class="form-label text-danger"
                                           th:if="${#fields.hasErrors('fans')}"
                                           th:errors="*{fans}"></small>
                                    <input type="number"
                                           min="0"
                                           id="fans"
                                           th:field="*{fans}"
                                           th:errorClass="bg-danger"
                                           value="0"

                                           class="form-control form-control-lg bg-transparent text-light"/>
                                    <label class="form-label text-light" for="fans">Fans</label>
                                </div>
                                <div class="form-outline mb-4">
                                    <small class="form-label text-danger"
                                           th:if="${#fields.hasErrors('weight')}"
                                           th:errors="*{weight}"></small>
                                    <input type="number"
                                           min="0"
                                           value="0"
                                           th:field="*{weight}"
                                           th:errorClass="bg-danger"
                                           class="form-control form-control-lg bg-transparent text-light"/>
                                    <label class="form-label text-light">Weight</label>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <input type="submit"
                                           class="btn btn-block btn-lg text-light registerGlowButton loginBtn"
                                           value="ADD"/>
                                </div>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(function () {
        $("#type").on('change', function () {
            $(".data").hide();
            $("#" + $(this).val()).fadeIn(700);
        }).change();
    });
</script>
</body>
</html>