<!doctype html>
<html lang="en">
<head th:replace="~{/fragments/head}"></head>
<body>
<header th:replace="~{fragments/navbar}"></header>

<div class="container-fluid mt-3">
    <div class="row row-cols-1 mt-5">
        <div class="col-12 col-xl-2 col-lg-4 col-md-6 col-sm-6 mt-5">
            <a class="text-decoration-none" th:href="@{/admin/add-product/{product}(product = CASE)}">
                <div class="card mx-4 mb-5 bg-transparent border-5 cardGlow">
                    <img src="/images/case.webp"
                         class="card-img-top">
                    <div class="card-body">
                        <h3 class="card-title text-uppercase text-light text-center">
                            CASE
                        </h3>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-12 col-xl-2 col-lg-4 col-md-6 col-sm-6 mt-5">
            <a class="text-decoration-none" th:href="@{/admin/add-product/{product}(product = MOTHERBOARD)}">
                <div class="card mx-4 mb-5 bg-transparent border-5 cardGlow">
                    <img src="/images/motherboard.png"
                         class="card-img-top">
                    <div class="card-body">
                        <h3 class="card-title text-uppercase text-light text-center">
                            MOTHERBOARD
                        </h3>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-12 col-xl-2 col-lg-4 col-md-6 col-sm-6 mt-5">
            <a class="text-decoration-none" th:href="@{/admin/add-product/{product}(product = GRAPHIC_CARD)}">
                <div class="card mx-4 mb-5 bg-transparent border-5 cardGlow">
                    <img src="/images/graphic-card-removebg-preview.png"
                         class="card-img-top">
                    <div class="card-body">
                        <h3 class="card-title text-uppercase text-light text-center">
                            GRAPHIC CARD
                        </h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-xl-2 col-lg-4 col-md-6 col-sm-6 mt-5">
            <a class="text-decoration-none" th:href="@{/admin/add-product/{product}(product = CPU)}">
                <div class="card mx-4 mb-5 bg-transparent border-5 cardGlow">
                    <img src="/images/CPU.webp"
                         class="card-img-top">
                    <div class="card-body">
                        <h3 class="card-title text-uppercase text-light text-center">
                            CPU
                        </h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-xl-2 col-lg-4 col-md-6 col-sm-6 mt-5">
            <a class="text-decoration-none" th:href="@{/admin/add-product/{product}(product = COOLER)}">
                <div class="card mx-4 mb-5 bg-transparent border-5 cardGlow">
                    <img src="/images/cooler.png"
                         class="card-img-top">
                    <div class="card-body">
                        <h3 class="card-title text-uppercase text-light text-center">
                            COOLER
                        </h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-xl-2 col-lg-4 col-md-6 col-sm-6 mt-5">
            <a class="text-decoration-none" th:href="@{/admin/add-product/{product}(product = RAM)}">
                <div class="card mx-4 mb-5 bg-transparent border-5 cardGlow">
                    <img src="/images/ram.png"
                         class="card-img-top">
                    <div class="card-body">
                        <h3 class="card-title text-uppercase text-light text-center">
                            RAM
                        </h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row row-cols-1 mt-5">
        <div class="col-12 col-xl-2 col-lg-4 col-md-6 col-sm-6 mt-5">
            <a class="text-decoration-none" th:href="@{/admin/add-product/{product}(product = FAN)}">
                <div class="card mx-4 mb-5 bg-transparent border-5 cardGlow">
                    <img src="/images/fan.png"
                         class="card-img-top">
                    <div class="card-body">
                        <h3 class="card-title text-uppercase text-light text-center">
                            FAN
                        </h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-xl-2 col-lg-4 col-md-6 col-sm-6 mt-5">
            <a class="text-decoration-none" th:href="@{/admin/add-product/{product}(product = POWER_SUPPLY)}">
                <div class="card mx-4 mb-5 bg-transparent border-5 cardGlow">
                    <img src="/images/power.png"
                         class="card-img-top">
                    <div class="card-body">
                        <h3 class="card-title text-uppercase text-light text-center">
                            POWER SUPPLY
                        </h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-xl-2 col-lg-4 col-md-6 col-sm-6 mt-5">
            <a class="text-decoration-none" th:href="@{/admin/add-product/{product}(product = HDD)}">
                <div class="card mx-4 mb-5 bg-transparent border-5 cardGlow">
                    <img src="/images/hdd.png"
                         class="card-img-top">
                    <div class="card-body">
                        <h3 class="card-title text-uppercase text-light text-center">
                            HDD
                        </h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-xl-2 col-lg-4 col-md-6 col-sm-6 mt-5">
            <a class="text-decoration-none" th:href="@{/admin/add-product/{product}(product = SSD)}">
                <div class="card mx-4 mb-5 bg-transparent border-5 cardGlow">
                    <img src="/images/ssd.png"
                         class="card-img-top">
                    <div class="card-body">
                        <h3 class="card-title text-uppercase text-light text-center">
                            SSD
                        </h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-xl-2 col-lg-4 col-md-6 col-sm-6 mt-5">
            <a class="text-decoration-none" th:href="@{/admin/add-product/{product}(product = MOUSE)}">
                <div class="card mx-4 mb-5 bg-transparent border-5 cardGlow">
                    <img src="/images/mouse.webp"
                         class="card-img-top">
                    <div class="card-body">
                        <h3 class="card-title text-uppercase text-light text-center">
                            MOUSE
                        </h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-xl-2 col-lg-4 col-md-6 col-sm-6 mt-5">
            <a class="text-decoration-none" th:href="@{/admin/add-product/{product}(product = KEYBOARD)}">
                <div class="card mx-4 mb-5 bg-transparent border-5 cardGlow">
                    <img src="/images/keyboard.png"
                         class="card-img-top">
                    <div class="card-body">
                        <h3 class="card-title text-uppercase text-light text-center">
                            KEYBOARD
                        </h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

</body>
</html>