<!doctype html>
<html lang="en">
<head th:replace="~{/fragments/head}"></head>
<body>
<header th:replace="~{fragments/navbar}"></header>

<div th:if="${product == 'CASE'}">
    <div th:replace="~{fragments/forms/add-case}"></div>
</div>
<div th:if="${product == 'MOTHERBOARD'}">
    <div th:replace="~{fragments/forms/add-motherboard}"></div>
</div>
<div th:if="${product == 'GRAPHIC_CARD'}">
    <div th:replace="~{fragments/forms/add-graphic-card}"></div>
</div>
<div th:if="${product == 'CPU'}">
    <div th:replace="~{fragments/forms/add-cpu}"></div>
</div>
<div th:if="${product == 'COOLER'}">
    <div th:replace="~{fragments/forms/add-cooler}"></div>
</div>
<div th:if="${product == 'RAM'}">
    <div th:replace="~{fragments/forms/add-ram}"></div>
</div>
<div th:if="${product == 'FAN'}">
    <div th:replace="~{fragments/forms/add-fan}"></div>
</div>
<div th:if="${product == 'POWER_SUPPLY'}">
    <div th:replace="~{fragments/forms/add-power-supply}"></div>
</div>
<div th:if="${product == 'HDD'}">
    <div th:replace="~{fragments/forms/add-hdd}"></div>
</div>


