<!doctype html>
<html lang="en">
<head th:replace="~{/fragments/head}"></head>
<body>
<header th:replace="~{fragments/navbar}"></header>

<h1 th:if="${products.getContent().isEmpty()}" class="mt-5 text-light text-center">No products found!</h1>

<div class="col container-fluid mt-4">
    <ul class="row mt-5 bg-transparent">
        <li th:each="product : ${products.getContent()}" class="list-group-item bg-transparent">
            <a class="text-decoration-none" th:href="@{/products/details/{uuid}(uuid = ${product.uuid})}">
                    <div class="card mx-4 bg-transparent border-5 cardGlow ">
                        <div class="card-header position-relative border-0">
                            <img th:src="@{'data:image/jpeg;base64,'+${product.generateBase64Image()}}"
                                 class="img-fluid image-responsive border-0"
                                 height="150px" width="150px">
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item bg-transparent text-light text-start fs-3 border-0"
                                th:text="${product.productShortDescription()}">
                            </li>
                            <li class="border-0 list-group-item bg-transparent text-uppercase text-light text-end fs-2>"
                                th:text="${product.price} + '&euro;'">
                            </li>
                        </ul>
                    </div>
            </a>
    </li>
</ul>
</div>
<div class="container mt-5 text-center bg-transparent">
    <nav aria-label="Page navigation" class="bg-transparent">
        <ul class="pagination justify-content-center bg-transparent">
            <li class="page-item bg-transparent text-decoration-none text-light"
                th:classappend="${products.isFirst() ? 'disabled' : ''}">
                <a th:if="${products.isFirst()}" class="page-link bg-transparent text-decoration-none text-light"
                   href="#" aria-label="First"><span aria-hidden="true">&laquo;</span></a>
                <a th:unless="${products.isFirst()}" class="page-link bg-transparent text-decoration-none text-light"
                   th:href="@{/products/search-product(size=0)}" aria-label="First"><span
                        aria-hidden="true">&laquo;</span></a>
            </li>

            <li class="page-item bg-transparent text-decoration-none text-light"
                th:classappend="${currentPage == 0 ? 'disabled' : ''}">
                <a class="page-link bg-transparent text-decoration-none text-light"
                   th:href="@{/products/search-product(page=${currentPage - 1})}">Previous</a>
            </li>
            <li class="page-item bg-transparent text-decoration-none text-light"
                th:each="i : ${#numbers.sequence(0, products.totalPages - 1)}"
                th:classappend="${currentPage == i ? 'active' : ''}">
                <a class="page-link bg-transparent text-decoration-none text-light"
                   th:href="@{/products/search-product(page=${i})}" th:text="${i + 1}"></a>
            </li>
            <li class="page-item bg-transparent text-decoration-none text-light"
                th:classappend="${currentPage == products.totalPages - 1 ? 'disabled' : ''}">
                <a class="page-link bg-transparent text-decoration-none text-light"
                   th:href="@{/products/search-product(page=${currentPage + 1})}">Next</a>
            </li>

            <li class="page-item bg-transparent text-decoration-none text-light"
                th:classappend="${products.isLast() ? 'disabled' : ''}">
                <a th:if="${products.isLast()}" class="page-link bg-transparent text-decoration-none text-light"
                   href="#" aria-label="Last"><span aria-hidden="true">&raquo;</span></a>
                <a th:unless="${products.isLast()}" class="page-link bg-transparent text-decoration-none text-light"
                   th:href="@{/products/search-product(size=${products.getSize()}, page=${products.getTotalPages() - 1})}"
                   aria-label="Last"><span aria-hidden="true">&raquo;</span></a>
            </li>
        </ul>
    </nav>
</div>

</body>
</html>