<!doctype html>
<html lang="en">
<head th:replace="~{/fragments/head}"></head>
<body>
<header th:replace="~{fragments/navbar}"></header>

<div class="container-fluid fs-4">

    <section class="mb-4 text-light ">


        <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>

        <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us
            directly. Our team will come back to you within
            a matter of hours to help you.</p>

        <div class="row">


            <div class="col-md-9 mb-md-0 mb-5">
                <form id="contact-form" th:object="${contactUsDto}"
                      name="contact-form" th:action="@{/contact-us}" th:method="POST">


                    <div class="row bg-transparent">


                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <small class="form-label text-danger"
                                       th:if="${#fields.hasErrors('name')}"
                                       th:errors="*{name}"></small>
                                <input type="text" th:field="*{name}" th:errorClass="bg-danger"
                                       class="form-control bg-transparent text-light">
                                <label class="">Your name</label>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <small class="form-label text-danger"
                                       th:if="${#fields.hasErrors('email')}"
                                       th:errors="*{email}"></small>
                                <input type="text" th:field="*{email}"
                                       th:errorClass="bg-danger"
                                       class="form-control bg-transparent text-light">
                                <label class="">Your email</label>
                            </div>
                        </div>


                    </div>


                    <div class="row">


                        <div class="col-md-12">

                            <div class="md-form">
                                <small class="form-label text-danger"
                                       th:if="${#fields.hasErrors('text')}"
                                       th:errors="*{text}"></small>
                                <textarea type="text" th:field="*{text}" rows="14"
                                          class="form-control md-textarea bg-transparent text-light"></textarea>
                                <label>Your message</label>
                            </div>

                        </div>
                    </div>

                    <div class="d-flex justify-content-center ">
                        <button type="submit"
                                class="btn btn-block btn-lg text-light registerGlowButton">SEND</button>
                    </div>
                </form>


                <div class="status"></div>
            </div>

            <div class="col-md-3 text-center mt-5">
                <ul class="list-unstyled mb-0">
                    <li><i class="bi bi-shop"></i></i>
                        <p>Groningen, Celebestraat 32B , Netherlands</p>
                    </li>

                    <li class="mt-5"><i class="bi bi-phone"></i>
                        <p>+31 6 27 40 8398</p>
                    </li>

                    <li class="mt-5"><i class="bi bi-envelope"></i>
                        <p>martin.kochanov002@gmail.com</p>
                    </li>
                </ul>
            </div>


        </div>

    </section>
</div>
</body>
</html>