<!doctype html>
<html lang="en">
<head th:replace="~{fragments/head}">
</head>
<body>
<nav th:replace="~{fragments/navbar}"></nav>

<section class="vh-100">
    <div class="mask d-flex align-items-center h-100">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card bg-transparent registerGlow">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center text-light mb-5">Login</h2>

                            <p th:if="${badCredentials}" class="errors alert alert-danger text-center">
                                Invalid username or password.
                            </p>
                            <form th:action="@{/login}" th:method="POST">
                                <div class="form-outline mb-4">
                                    <input type="text"
                                           id="username"
                                           name="username"
                                           th:value="${username}"
                                           class="form-control form-control-lg bg-transparent text-light"/>
                                    <label class="form-label text-light" for="username">Username</label>
                                </div>
                                <div class="form-outline mb-4">
                                    <input type="password"
                                           id="password"
                                           name="password"
                                           class="form-control form-control-lg bg-transparent text-light"/>
                                    <label class="form-label text-light" for="password">Password</label><span class=""><i
                                        id="toggler" class="fa-solid fa-eye-slash text-light fs-5 mt-1 ms-3"></i> </span>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <input type="submit" class="btn btn-block btn-lg text-light registerGlowButton"
                                           id="loginBtn" value="Login"/>
                                </div>
                            </form>
                            <p class="text-center text-light mt-1 mb-0">Don`t have an account? <a th:href="@{/register}"
                                                                                                  class="fw-bold text-light"><u>Register
                                here</u></a></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script th:src="@{/js/script.js}"></script>
</body>
</html>