<!doctype html>
<html lang="en">
<head>
</head>
<section class="vh-100 data mt-5" id="CASE">
    <div class="d-flex align-items-center h-100">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card bg-transparent registerGlow">
                        <div class="card-body p-5">
                            <form th:action="@{/admin/add-product/{product}(product = HDD)}"
                                  th:method="POST"
                                  th:object="${newProductDTO}">
                                <h1 class="bg-transparent border-0 text-uppercase text-center text-light mb-5 fs-3"
                                    readonly>HDD</h1>
                                <div class="form-outline mb-4">
                                    <small class="form-label text-danger"
                                           th:if="${#fields.hasErrors('manufacturer')}"
                                           th:errors="*{manufacturer}"></small>
                                    <select
                                            th:field="*{manufacturer}"
                                            th:errorClass="bg-danger"
                                            class="form-control form-control-lg bg-transparent text-light">
                                        <option class="ui-menu-item bg-dark" value="">--SELECT MANUFACTURER--</option>
                                        <option class="ui-menu-item bg-dark"
                                                th:each="manufacturer : ${manufacturers}"
                                                th:text="${manufacturer.name()}"
                                                th:value="${manufacturer}">
                                        </option>
                                    </select>
                                    <label class="form-label text-light">Manufacturer</label>
                                </div>
                                <div class="form-outline mb-4">
                                    <small class="form-label text-danger"
                                           th:if="${#fields.hasErrors('model')}"
                                           th:errors="*{model}"></small>
                                    <input
                                            th:field="*{model}"
                                            th:errorClass="bg-danger"
                                            class="form-control form-control-lg bg-transparent text-light"
                                            required
                                    />
                                    <label class="form-label text-light">Model</label>
                                </div>
                                <div class="form-outline mb-4">
                                    <small class="form-label text-danger"
                                           th:if="${#fields.hasErrors('price')}"
                                           th:errors="*{price}"></small>
                                    <input type="number"
                                           min="0"
                                           th:field="*{price}"
                                           th:errorClass="bg-danger"
                                           class="form-control form-control-lg bg-transparent text-light"
                                           required/>
                                    <label class="form-label text-light">Price</label>
                                </div>
                                <div class="form-outline mb-4">
                                    <small class="form-label text-danger"
                                           th:if="${#fields.hasErrors('description')}"
                                           th:errors="*{description}"></small>
                                    <textarea
                                            rows="4"
                                            id="description"
                                            th:field="*{description}"
                                            th:errorClass="bg-danger"
                                            class="form-control form-control-lg bg-transparent text-light"
                                            required></textarea>
                                    <label class="form-label text-light" for="description">Description</label>
                                </div>
                                <h1 class="bg-transparent form-control border-0 form-control-lg text-uppercase text-center text-light mb-5 disabled fs-3">
                                    Specifications</h1>
                                <div class="form-outline mb-4">
                                    <small class="form-label text-danger"
                                           th:if="${#fields.hasErrors('driveInterface')}">Ooopsies! You are trying some illegal actions! :)</small>
                                    <select th:field="*{driveInterface}"
                                            th:errorClass="bg-danger"
                                            class="form-control form-control-lg bg-transparent text-light">
                                        <option class="ui-menu-item bg-dark" value="">--SELECT INTERFACE--</option>
                                        <option class="ui-menu-item bg-dark text-uppercase"
                                                th:each="inteface : ${driveInterfaces}"
                                                th:text="${inteface.name()}"
                                                th:value="${inteface.name()}">
                                        </option>
                                    </select>
                                    <label class="form-label text-light">Inteface</label>
                                </div>
                                <div class="form-outline mb-4">
                                    <small class="form-label text-danger"
                                           th:if="${#fields.hasErrors('capacity')}"
                                           th:errors="*{capacity}"></small>
                                    <input type="number"
                                           min="0"
                                           th:field="*{capacity}"
                                           th:errorClass="bg-danger"
                                           class="form-control form-control-lg bg-transparent text-light"
                                           required/>
                                    <label class="form-label text-light">Capacity</label>
                                </div>
                                <div class="form-outline mb-4">
                                    <small class="form-label text-danger"
                                           th:if="${#fields.hasErrors('rotationSpeed')}"
                                           th:errors="*{rotationSpeed}"></small>
                                    <input type="number"
                                           min="0"
                                           th:field="*{rotationSpeed}"
                                           th:errorClass="bg-danger"
                                           class="form-control form-control-lg bg-transparent text-light"
                                           required/>
                                    <label class="form-label text-light">Rotation Speed</label>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <input type="submit"
                                           class="btn btn-block btn-lg text-light registerGlowButton loginBtn"
                                           value="ADD"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</html>