<!doctype html>
<html lang="en">
<head>
</head>
<section class="vh-100 data mt-5" id="CASE">
    <div class="d-flex align-items-center h-100">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card bg-transparent registerGlow">
                        <div class="card-body p-5">
                            <form th:action="@{/admin/add-product/{product}(product = CPU)}"
                                  th:method="POST"
                                  th:object="${newProductDTO}"
                                  enctype="multipart/form-data">
                                <h1 th:text="CPU" class="bg-transparent border-0 text-uppercase text-center text-light mb-5 fs-3"
                                    readonly></h1>
                                <div th:replace="~{fragments/base-poduct-properties}"></div>
                                <h1 class="bg-transparent form-control border-0 form-control-lg text-uppercase text-center text-light mb-5 disabled fs-3">
                                    Specifications</h1>
                                <div class="form-outline mb-4">
                                    <small class="form-label text-danger"
                                           th:if="${#fields.hasErrors('cpuSocket')}">Ooopsies! You are trying some illegal actions! :)</small>
                                    <select th:field="*{cpuSocket}"
                                            th:errorClass="bg-danger"
                                            class="form-control form-control-lg bg-transparent text-light">
                                        <option class="ui-menu-item bg-dark" value="">--SELECT SOCKET--</option>
                                        <option class="ui-menu-item bg-dark text-uppercase"
                                                th:each="cpu : ${cpuSockets}"
                                                th:text="${cpu.getName()}"
                                                th:value="${cpu.name()}">
                                        </option>
                                    </select>
                                    <label class="form-label text-light">Socket</label>
                                </div>
                                <div class="form-outline mb-4">
                                    <small class="form-label text-danger"
                                           th:if="${#fields.hasErrors('cashMemory')}"
                                           th:errors="*{cashMemory}"></small>
                                    <input type="number"
                                           min="0"
                                           th:field="*{cashMemory}"
                                           th:errorClass="bg-danger"
                                           class="form-control form-control-lg bg-transparent text-light"/>
                                    <label class="form-label text-light">Cash Memory</label>
                                </div>
                                <div class="form-outline mb-4">
                                    <small class="form-label text-danger"
                                           th:if="${#fields.hasErrors('frequency')}"
                                           th:errors="*{frequency}"></small>
                                    <input type="number"
                                           step="0.01"
                                           th:field="*{frequency}"
                                           th:errorClass="bg-danger"
                                           class="form-control form-control-lg bg-transparent text-light"/>
                                    <label class="form-label text-light">Frequency</label>
                                </div>
                                <div class="form-outline mb-4">
                                    <small class="form-label text-danger"
                                           th:if="${#fields.hasErrors('boost')}"
                                           th:errors="*{boost}"></small>
                                    <input type="number"
                                           step="0.01"
                                           th:field="*{boost}"
                                           th:errorClass="bg-danger"
                                           class="form-control form-control-lg bg-transparent text-light"/>
                                    <label class="form-label text-light">Boost</label>
                                </div>
                                <div class="form-outline mb-4">
                                    <small class="form-label text-danger"
                                           th:if="${#fields.hasErrors('cores')}"
                                           th:errors="*{cores}"></small>
                                    <input type="number"
                                           min="0"
                                           th:field="*{cores}"
                                           th:errorClass="bg-danger"
                                           class="form-control form-control-lg bg-transparent text-light"/>
                                    <label class="form-label text-light">Cores</label>
                                </div>
                                <div class="form-outline mb-4">
                                    <small class="form-label text-danger"
                                           th:if="${#fields.hasErrors('threads')}"
                                           th:errors="*{threads}"></small>
                                    <input type="number"
                                           min="0"
                                           th:field="*{threads}"
                                           th:errorClass="bg-danger"
                                           class="form-control form-control-lg bg-transparent text-light"/>
                                    <label class="form-label text-light">Threads</label>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <input type="submit"
                                           class="btn btn-block btn-lg text-light registerGlowButton loginBtn"
                                           value="ADD"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</html>