<!doctype html>
<html lang="en">
<head>
</head>
<section class="vh-100 data mt-5" id="CASE">
    <div class="d-flex align-items-center h-100">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card bg-transparent registerGlow">
                        <div class="card-body p-5">
                            <form th:action="@{/admin/add-product/{product}(product = POWER_SUPPLY)}"
                                  th:method="POST"
                                  th:object="${newProductDTO}"
                                  enctype="multipart/form-data">
                                <h1 th:text="'POWER SUPPLY'" class="bg-transparent border-0 text-uppercase text-center text-light mb-5 fs-3"
                                    readonly></h1>
                                <div th:replace="~{fragments/base-poduct-properties}"></div>
                                <h1 class="bg-transparent form-control border-0 form-control-lg text-uppercase text-center text-light mb-5 disabled fs-3">
                                    Specifications</h1>
                                <div class="form-outline mb-4">
                                    <small class="form-label text-danger"
                                           th:if="${#fields.hasErrors('power')}"
                                           th:errors="*{power}"></small>
                                    <input type="number"
                                           min="0"
                                           th:field="*{power}"
                                           th:errorClass="bg-danger"
                                           class="form-control form-control-lg bg-transparent text-light"
                                           required/>
                                    <label class="form-label text-light">Power</label>
                                </div>
                                <div class="form-outline mb-4">
                                    <small class="form-label text-danger"
                                           th:if="${#fields.hasErrors('efficiency')}"
                                           th:errors="*{efficiency}"></small>
                                    <input type="number"
                                           min="0"
                                           th:field="*{efficiency}"
                                           th:errorClass="bg-danger"
                                           class="form-control form-control-lg bg-transparent text-light"
                                           required/>
                                    <label class="form-label text-light">Efficiency</label>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <input type="submit"
                                           class="btn btn-block btn-lg text-light registerGlowButton loginBtn"
                                           value="ADD"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</html>